*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

body{

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: darkgoldenrod;
  padding: 20px;
  border: 1px dashed black;
  
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}


main{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.rettangolo{
  height: 300px;
  width: 500px;
  border: 1px dashed black;
  background-color: rgb(52, 52, 241);

}
.quadrato{
  height: 300px;
  width: 300px;
  border: 1px dashed black;   
  background-color:rosybrown ; 

}